html, body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: clamp(16px, 1.5vw, 22px);
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.burger-wrapper {
  display: none;
}

.blur {
  display: none;
}

.mobile__nav-wrapper {
  display: none;
}

.page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
}

.page-wrapper .landing__background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  min-height: 800px;
  background: center no-repeat url(../assets/images/Container.jpg);
  background-size: cover;
}

.page-wrapper .landing__background .background--shade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
  width: 100%;
  height: 3rem;
  margin-top: 3rem;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nav__name {
  font-size: 1.5rem;
  color: #ECEFF4;
}

.nav__name .text--accent {
  color: #CD6747;
}

.nav__link {
  margin: 0 1.5rem;
}

.link {
  display: inline-block;
  font-size: 1rem;
  color: #D8DEE9;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  transition: .4s ease-in-out color;
}

.link--active {
  color: #ECEFF4;
}

.link::before {
  position: absolute;
  content: "";
  width: .5rem;
  height: .5rem;
  border-radius: 1rem;
  bottom: -.5rem;
  left: 55%;
  -ms-transform: translateX(-0.5rem);
      transform: translateX(-0.5rem);
  border: 1px solid #ECEFF4;
  transition: .4s ease-in-out border, .4s ease-in-out background-color;
}

.link--active::before {
  border: 1px solid #CD6747;
  background-color: #CD6747;
}

.link:hover {
  color: #2E3440;
}

.link:hover::before {
  background-color: #CD6747;
  border: 1px solid #CD6747;
}

.landing-wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  min-height: 800px;
  position: relative;
}

.landing-page {
  width: 100%;
  height: 100%;
  min-height: inherit;
  padding: calc(2 * 3rem) 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr -webkit-max-content -webkit-max-content 1fr;
  grid-template-rows: 1fr max-content max-content 1fr;
  position: relative;
}

.landing-page .text__wrapper {
  width: 85%;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-bottom: 4rem;
}

.landing-page .landing__heading {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #ECEFF4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.landing-page .landing__subheading {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #D8DEE9;
}

.landing-page .button-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  color: #2E3440;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ECEFF4;
  background-color: transparent;
  transition: .5s ease-in-out border, .5s ease-in-out background-color;
  font-weight: 300;
  grid-row: 3/4;
  grid: 1/2;
  color: #ECEFF4;
}

.landing-page .button-wrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ECEFF4;
  transition: .4s ease-in-out color;
}

.landing-page .button-wrapper:hover {
  border: 1px solid #CD6747;
}

.landing-page .button-wrapper:hover a {
  color: #CD6747;
}

.landing-page .text--accent {
  color: #CD6747;
}

.landing-page .arrow {
  left: calc(50% - (2rem/2));
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 5;
}

.landing-page .arrow-circle {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page .arrow-circle rect {
  transition: .4s ease-in-out stroke;
}

.landing-page .arrow-down {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-52.5%) translateY(-50%);
      transform: translateX(-52.5%) translateY(-50%);
  width: 70%;
  height: 70%;
}

.landing-page .arrow-down path {
  transition: .4s ease-in-out fill;
}

.landing-page .arrow:hover .arrow-circle > rect {
  stroke: #CD6747;
}

.landing-page .arrow:hover .arrow-down > path {
  fill: #CD6747;
}

.main__content-wrapper {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: #ECEFF4;
  position: relative;
}

.main__content-wrapper .transition {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 3;
  top: -2px;
}

.main__content-wrapper .transition img {
  width: 100%;
  height: auto;
}

.main__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content__header-wrapper {
  margin-top: 4rem;
  margin-bottom: calc(4rem * 2);
}

.content__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #2E3440;
  background-color: #ECEFF4;
  border-radius: 2rem;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.content__header .content__heading {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.go_up-wrapper {
  position: absolute;
  bottom: 4rem;
  left: calc(100% - 10%);
}

.go_up-wrapper .arrow {
  left: calc(50% - (2rem/2));
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 5;
  transition: .3s ease-in-out transform;
}

.go_up-wrapper .arrow-circle {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.go_up-wrapper .arrow-circle rect {
  transition: .4s ease-in-out stroke;
}

.go_up-wrapper .arrow-down {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-52.5%) translateY(-50%);
      transform: translateX(-52.5%) translateY(-50%);
  width: 70%;
  height: 70%;
}

.go_up-wrapper .arrow-down path {
  transition: .4s ease-in-out fill;
}

.go_up-wrapper .arrow-circle rect {
  stroke: #CD6747;
  fill: #CD6747;
}

.go_up-wrapper .arrow-down {
  width: 40%;
  height: 50%;
}

.go_up-wrapper .arrow-down path {
  fill: #ECEFF4;
}

.go_up-wrapper:hover .arrow {
  -ms-transform: scale(1.25);
      transform: scale(1.25);
}

.footer-wrapper {
  width: 100%;
  position: relative;
}

.footer-wrapper--dark {
  background-color: #ECEFF4;
}

.footer-wrapper--light {
  background-color: #2E3440;
}

.footer-transition {
  position: relative;
  top: -25px;
  width: 100%;
  height: auto;
}

.footer-transition img {
  overflow-x: hidden;
  width: 110%;
  height: auto;
}

.footer {
  width: 90%;
  height: auto;
  margin: 4rem auto 3rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}

.footer .footer__heading {
  margin-bottom: 1rem;
  font-size: calc(1.5rem + 1px);
  transition: .3s ease-in-out color;
}

.footer--light {
  color: #ECEFF4;
}

.footer--light .text--accent {
  font-size: calc(1.5rem + 1px);
  color: #F5A82A;
}

.footer--light .footer__link, .footer--light .featured__link {
  color: #ECEFF4;
}

.footer--dark {
  color: #2E3440;
}

.footer--dark .text--accent {
  font-size: calc(1.5rem + 1px);
  color: #F5A82A;
}

.footer--dark .footer__link, .footer--dark .featured__link {
  color: #2E3440;
}

.footer p {
  font-size: calc(1rem - 4px);
  margin-bottom: calc(1rem);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.footer__nav:hover .footer__heading, .footer__about:hover .footer__heading, .footer__featured:hover .footer__heading, .footer__contact:hover .footer__heading {
  color: #F5A82A;
}

.footer__about .footer__heading {
  font-size: 1rem;
}

.footer__nav, .footer__featured, .footer__sm {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.footer__nav .footer__nav-menu, .footer__nav .footer__featured-links, .footer__nav .sm__icons, .footer__featured .footer__nav-menu, .footer__featured .footer__featured-links, .footer__featured .sm__icons, .footer__sm .footer__nav-menu, .footer__sm .footer__featured-links, .footer__sm .sm__icons {
  list-style-type: none;
  text-decoration: none;
}

.footer__nav .footer__links, .footer__nav .featured, .footer__featured .footer__links, .footer__featured .featured, .footer__sm .footer__links, .footer__sm .featured {
  margin-bottom: 1rem;
}

.footer__nav .footer__link, .footer__nav .featured__link, .footer__featured .footer__link, .footer__featured .featured__link, .footer__sm .footer__link, .footer__sm .featured__link {
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  font-size: calc(1rem - 4px);
  border-bottom: 1px solid transparent;
  transition: .3s ease-in-out border;
}

.footer__nav .footer__link:hover, .footer__nav .featured__link:hover, .footer__featured .footer__link:hover, .footer__featured .featured__link:hover, .footer__sm .footer__link:hover, .footer__sm .featured__link:hover {
  border-bottom: 1px solid #F5A82A;
}

.footer--dark .sm__icon {
  margin-bottom: 1.5rem;
}

.footer--dark .sm__icon i {
  color: #2E3440;
  transition: .3s ease-in-out color, .3s ease-in-out transform;
}

.footer--dark .sm__icon i:hover {
  color: #F5A82A;
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

.footer--light .sm__icon {
  margin-bottom: 1.5rem;
}

.footer--light .sm__icon i {
  color: #ECEFF4;
  transition: .3s ease-in-out color, .3s ease-in-out transform;
}

.footer--light .sm__icon i:hover {
  color: #F5A82A;
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .burger-wrapper {
    display: block;
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: 4rem;
    background-color: #2E3440;
    z-index: 12;
    cursor: pointer;
    box-shadow: -4px -3px 8px rgba(94, 97, 103, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.35);
  }
  .burger-wrapper .burger {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .burger-wrapper .burger-bar {
    width: 85%;
    height: 1px;
    position: absolute;
    top: calc(50% - 1px);
    left: 7.5%;
    background-color: #ffffff;
  }
  .burger-wrapper .burger-bar::before, .burger-wrapper .burger-bar::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    -ms-transform: translateY(-8px);
        transform: translateY(-8px);
    transition: transform .35s ease-in-out, color .7s ease-in-out;
  }
  .burger-wrapper .burger-bar::after {
    -ms-transform: translateY(8px);
        transform: translateY(8px);
  }
  .burger--active {
    background-color: #E5E9F0;
  }
  .burger--active .burger-bar {
    background-color: #E5E9F0;
    transition: background-color .7s ease-in-out;
  }
  .burger--active .burger-bar::before, .burger--active .burger-bar::after {
    background-color: #000000;
  }
  .burger--active .burger-bar {
    background-color: transparent;
  }
  .burger--active .burger-bar::after {
    -ms-transform: rotate(45deg) translateY(0);
        transform: rotate(45deg) translateY(0);
  }
  .burger--active .burger-bar::before {
    -ms-transform: rotate(-45deg) translateY(0);
        transform: rotate(-45deg) translateY(0);
  }
  .blur {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
    transition: background-color .7s ease-in-out;
  }
  .blur--active {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
  }
  .mobile__nav-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    background-color: #2E3440;
    -ms-transform: translateX(400px);
        transform: translateX(400px);
    transition: transform .7s ease-in-out;
  }
  .mobile__nav-wrapper .mobile__nav {
    position: relative;
    height: 100vh;
    max-width: 200px;
    width: 45%;
    min-width: 150px;
    padding: 7rem 1rem;
    z-index: 10;
  }
  .mobile__nav-wrapper .mobile__nav_list {
    width: 100%;
    height: calc(100% - 2rem);
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .mobile__nav-wrapper .mobile__link {
    padding: 1rem;
  }
  .mobile__nav-wrapper .mobile__link .link {
    color: #ECEFF4;
  }
  .mobile__nav-wrapper--active {
    -ms-transform: translateX(0);
        transform: translateX(0);
    z-index: 9;
  }
  .landing-page {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr -webkit-max-content -webkit-max-content 2.5fr;
    grid-template-rows: 1.5fr max-content max-content 2.5fr;
  }
  .nav__menu {
    display: none;
  }
  .footer-transition {
    width: 125%;
  }
  .footer {
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    width: 75%;
  }
  .footer .footer__heading {
    margin-bottom: 2rem;
    font-size: calc(1.5rem + 4px);
    transition: .3s ease-in-out color;
  }
  .footer p {
    font-size: calc(1rem + 2px);
    margin-bottom: calc(1rem);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
  }
  .footer__about .footer__heading {
    font-size: calc(1.1rem + 2px);
  }
  .footer__about .footer__heading span {
    font-size: calc(2rem + 4px);
  }
  .footer__about, .footer__nav, .footer__featured, .footer__sm, .footer__contact {
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }
  .footer__about .footer__link, .footer__about .featured__link, .footer__nav .footer__link, .footer__nav .featured__link, .footer__featured .footer__link, .footer__featured .featured__link, .footer__sm .footer__link, .footer__sm .featured__link, .footer__contact .footer__link, .footer__contact .featured__link {
    font-weight: 400;
    font-size: calc(1.1rem + 4px);
  }
  .footer__about .footer__links, .footer__about .featured, .footer__nav .footer__links, .footer__nav .featured, .footer__featured .footer__links, .footer__featured .featured, .footer__sm .footer__links, .footer__sm .featured, .footer__contact .footer__links, .footer__contact .featured {
    margin-bottom: 3rem;
  }
  .sm__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
  }
  .sm__icons .sm__icon {
    margin: 0 1.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .burger-wrapper {
    top: 3.25rem;
  }
  .landing-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr -webkit-max-content 3.5fr -webkit-max-content 1.5fr;
    grid-template-rows: 1fr max-content 3.5fr max-content 1.5fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .landing-page .landing__heading {
    font-size: 2rem;
  }
  .landing-page .landing__heading .text--accent {
    color: #FF9F00;
  }
  .landing-page .landing__subheading {
    display: none;
  }
  .main__content {
    width: 75%;
  }
  .content__header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content__header-wrapper .content__header {
    width: 100%;
    max-width: 256px;
  }
  .footer-transition {
    width: 200%;
    left: -50%;
  }
}

.content__posts-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: calc(2 * 4rem);
}

.content__posts-wrapper .button-wrapper {
  margin-top: 4rem;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 3rem;
  color: #2E3440;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ECEFF4;
  background-color: #ECEFF4;
  transition: .5s ease-in-out border, .5s ease-in-out background-color;
}

.content__posts-wrapper .button-wrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ECEFF4;
  transition: .4s ease-in-out color;
}

.content__posts-wrapper .button-wrapper:hover {
  border: 1px solid #CD6747;
}

.content__posts-wrapper .button-wrapper:hover a {
  color: #CD6747;
}

.content__posts-wrapper .button-wrapper a {
  color: #2E3440;
}

.content__posts-wrapper .button-wrapper a:hover {
  color: #ECEFF4;
}

.content__posts-wrapper .button-wrapper:hover {
  border: 1px solid #F5A82A;
  background-color: #F5A82A;
}

.content__post {
  margin-bottom: calc(4rem * 2);
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  align-items: center;
}

.content__post--left {
  text-align: left;
  align-content: flex-start;
  justify-content: flex-start;
}

.content__post--right {
  text-align: right;
  align-content: flex-end;
  justify-content: flex-end;
}

.content__post--right .post__img-wrapper {
  grid-column: 1/2;
  grid-row: 1;
}

.content__post--right .post__text-wrapper {
  grid-column: 2/3;
  grid-row: 1;
}

.content__post:hover .post__heading::before {
  background-color: #CD6747;
  -ms-transform: scaleY(1.3);
      transform: scaleY(1.3);
}

.post__text-wrapper {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
}

.post__heading {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
  color: #F5A82A;
}

.post__heading::before {
  content: "";
  position: absolute;
  top: -12.5%;
  width: 4px;
  height: 125%;
  background-color: #353E4B;
  transition: .3s ease-in-out transform, background-color;
}

.post__heading--left::before {
  left: -1rem;
}

.post__heading--right::before {
  right: -1rem;
}

.post__subheading {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Merriweather", serif;
  margin-bottom: 3rem;
}

.post__text {
  font-size: calc(1rem - 4px);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.post__img-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.post__img-wrapper .post__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .main__content {
    width: 75%;
  }
  .content__post {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
    grid-row-gap: 2rem;
  }
  .content__post--left {
    text-align: left;
  }
  .content__post--right {
    text-align: right;
    align-content: flex-end;
    justify-content: flex-end;
  }
  .content__post--right .post__img-wrapper {
    grid-column: 1/2;
    grid-row: 2;
  }
  .content__post--right .post__text-wrapper {
    margin-left: auto;
    grid-column: 1/2;
    grid-row: 1;
  }
  .content__post:hover .post__heading::before {
    -ms-transform: none;
        transform: none;
  }
  .post__heading {
    font-size: calc(2.5rem);
    margin-bottom: 4rem;
  }
  .post__subheading {
    font-size: calc(1.1rem + 2px);
  }
  .post__text {
    font-size: calc(1rem - 2px);
    line-height: 1.75;
    font-weight: normal;
  }
}

@media screen and (max-width: 576px) {
  .content__post {
    text-align: center;
    margin-bottom: 2rem;
  }
  .post__text-wrapper {
    width: 100%;
  }
  .post__heading {
    font-size: calc(1.5rem + 1vh);
  }
  .post__heading::before {
    display: none;
  }
  .post__subheading {
    font-size: calc(1.1rem);
  }
  .post__img-wrapper {
    margin-bottom: 2rem;
  }
  .go_up-wrapper {
    left: 0;
    right: -80%;
    bottom: 0;
  }
}

.page-wrapper .landing__background {
  background-image: url(../assets/images/ld-planer.jpg);
}

.page-wrapper .landing__background .background--shade {
  background-color: rgba(0, 0, 0, 0.65);
}

.link:hover {
  color: #CD6747;
}

.main__content-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.intro__content {
  width: 90%;
  margin: 0 auto 4rem auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content__post {
  min-width: 640px;
}

.content__post--right .post__text-wrapper {
  margin: 0 0 0 auto;
}

.content__post--right .text--accent {
  color: #BC6269;
}

.content__post--left .post__text-wrapper {
  margin: 0 auto 0 0;
}

.post__text-wrapper {
  width: 80%;
  min-width: 320px;
}

.post__heading {
  margin-bottom: 4rem;
  font-size: calc(2rem - 2px);
}

.post__subheading {
  font-size: calc(1rem - 1px);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.post__img-wrapper {
  min-width: 320px;
}

.intro__section-wrapper {
  position: relative;
}

.intro__section-wrapper .arrow {
  left: calc(50% - (2rem/2));
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.intro__section-wrapper .arrow-circle {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__section-wrapper .arrow-circle rect {
  transition: .4s ease-in-out stroke;
}

.intro__section-wrapper .arrow-down {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-52.5%) translateY(-50%);
      transform: translateX(-52.5%) translateY(-50%);
  width: 70%;
  height: 70%;
}

.intro__section-wrapper .arrow-down path {
  transition: .4s ease-in-out fill;
}

.intro__section-wrapper .arrow .arrow-circle > rect {
  stroke: #2E3440;
}

.intro__section-wrapper .arrow .arrow-down > path {
  fill: #2E3440;
}

.intro__section-wrapper .arrow:hover .arrow-circle > rect {
  stroke: #CD6747;
}

.intro__section-wrapper .arrow:hover .arrow-down > path {
  fill: #CD6747;
}

.todo-wrapper, .form__content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto 4rem auto;
  position: relative;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.todo-wrapper .todo__container {
  max-width: 768px;
  width: 100%;
  min-width: 384px;
  margin: 0 auto;
  height: auto;
}

.todo__app {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ECEFF4;
  border-radius: 2rem;
  padding: 3rem 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(76, 86, 106, 0.2);
}

.todo__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: calc(1.5rem * 1.5);
  font-size: 1.5rem;
  color: #2E3440;
  background-color: #ECEFF4;
  border-radius: 2rem;
  min-width: 16rem;
  width: 90%;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.todo__header h4 {
  font-weight: 300;
}

.todo__input-container {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  align-content: center;
  justify-content: center;
  margin-bottom: 3rem;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  padding: .5rem 1.25rem;
}

.todo__input-container input {
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #5A626E;
  transition: 0.4s cubic-bezier(0.2, 0.84, 0.44, 1) color;
}

.todo__input-container input:focus, .todo__input-container input:hover {
  color: #CD6747;
}

.todo__input-container, .todo__list {
  width: 90%;
}

.add__todo {
  cursor: pointer;
  color: #2E3440;
  transition: .4s ease-in-out color;
  padding: .25rem .5rem;
}

.add__todo:hover {
  color: #A3BE8C;
}

.todo__list {
  max-height: 512px;
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}

.todo {
  width: 100%;
  padding: .5rem 1.25rem;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.todo p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.todo .todo__text--active {
  color: #3B4252;
  -webkit-text-decoration: line-through #2E3440;
          text-decoration: line-through #2E3440;
}

.todo .icons i {
  color: #2E3440;
  margin: 0 0 0 .5rem;
  padding: .25rem;
  transition: 0.4s cubic-bezier(0.2, 0.84, 0.44, 1) color;
}

.icons .finish__todo:hover {
  color: #A3BE8C;
}

.icons .remove__todo:hover {
  color: #BC6269;
}

.overflow-spacer {
  height: 1.5rem;
  opacity: 0;
}

.form-wrapper {
  width: 100%;
  height: auto;
  background-color: #353E4B;
}

.form-wrapper .form__transition {
  position: relative;
  top: -25px;
  width: 100%;
  height: auto;
}

.form-wrapper .form__transition img {
  width: inherit;
  height: auto;
}

.form__content {
  max-width: 576px;
}

.form__content .form__header {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #ECEFF4;
  transition: 0.6s cubic-bezier(0.2, 0.84, 0.44, 1) color;
}

.form__content .form__header:hover {
  color: #F5A82A;
}

.form__content .form {
  width: 100%;
  height: auto;
}

.form div label, .form div legend, .form fieldset label, .form fieldset legend {
  font-size: calc(1.5rem - 2px);
  margin-bottom: 1rem;
  color: #ECEFF4;
  transition: 0.5s cubic-bezier(0.2, 0.84, 0.44, 1) color;
}

.form .input__sex, .form .input__travel_count, .form .input__countries_count {
  border: none;
}

.form .input__name {
  margin-bottom: 2rem;
}

.form .input__name #name {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  background-color: #2E3440;
  border: 1px solid #2E3440;
  border-radius: 3rem;
  font-size: calc(1rem + 2px);
  color: #D8DEE9;
  padding: 4px 1rem;
  transition: .3s ease-in-out color;
}

.form .input__name #name:focus {
  color: #F5A82A;
}

.form .input__name:hover label {
  color: #F5A82A;
}

.form .input__name:hover input {
  color: #F5A82A;
}

.form .input__sex {
  margin-bottom: 2rem;
}

.form .input__sex label {
  font-size: calc(1rem + 2px);
}

.form .input__sex label:first-of-type {
  margin-right: 1rem;
}

.form .input__sex input {
  margin-right: 1rem;
  font-size: calc(1rem + 2px);
  transition: .3s ease-in-out color;
}

.form .input__sex:hover legend {
  color: #F5A82A;
}

.form .input__travel_count, .form .input__countries_count {
  margin-bottom: 2rem;
}

.form .input__travel_count legend, .form .input__countries_count legend {
  grid-column: 1/5;
}

.form .input__travel_count label, .form .input__countries_count label {
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: calc(1rem + 2px);
}

.form .input__travel_count label input, .form .input__countries_count label input {
  margin-right: 1rem;
}

.form .input__travel_count:hover legend, .form .input__countries_count:hover legend {
  color: #F5A82A;
}

.form .input__first-travel {
  width: 100%;
  margin-bottom: 2rem;
}

.form .input__first-travel input {
  margin-top: 1rem;
}

.form .input__first-travel label {
  margin: 0;
}

.form .input__first-travel:hover label {
  color: #F5A82A;
}

.form .input__text-field {
  margin-bottom: 2rem;
}

.form .input__text-field label {
  width: 100%;
  margin: 0;
}

.form .input__text-field textarea {
  margin-top: 1.5rem;
  width: 100%;
  max-height: 384px;
  min-height: 192px;
  background-color: #2E3440;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #D8DEE9;
  resize: vertical;
}

.form .input__text-field:hover label {
  color: #F5A82A;
}

.form .input__email {
  margin-bottom: 2rem;
}

.form .input__email input {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #2E3440;
  border-radius: 2rem;
  font-size: calc(1rem + 2px);
  color: #D8DEE9;
  transition: .3s ease-in-out color;
}

.form .input__email input:focus {
  color: #F5A82A;
}

.form .input__email:hover label {
  color: #F5A82A;
}

.form .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.form .btn__submit, .form .btn__reset {
  border-radius: 3rem;
  font-size: calc(1.5rem - .5rem);
  width: 40%;
  min-width: 192px;
  max-width: 256px;
  height: 48px;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.2, 0.84, 0.44, 1) all;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35), -4px -4px 8px rgba(72, 82, 101, 0.2);
}

.form .btn__submit {
  border: 1px solid #ECEFF4;
  background-color: #ECEFF4;
  color: #000000;
}

.form .btn__submit:hover {
  -ms-transform: scale(1.05);
      transform: scale(1.05);
  background-color: #A3BE8C;
  border-color: #A3BE8C;
  color: #ffffff;
}

.form .btn__reset {
  border: 1px solid #353E4B;
  background-color: #353E4B;
  color: #D8DEE9;
}

.form .btn__reset:hover {
  -ms-transform: scale(0.95);
      transform: scale(0.95);
  background-color: #BC6269;
  border-color: #BC6269;
  color: #ffffff;
}

.hide {
  height: 1.5rem;
  margin-left: 1rem;
}

.ui-tooltip {
  width: 210px;
  color: #ECEFF4;
  border-color: 1px solid rgba(236, 239, 244, 0.75);
}

@media screen and (max-width: 992px) {
  .landing-page {
    grid-template-columns: 1fr;
  }
  .landing-page .text__wrapper {
    width: 75%;
  }
  .landing-page .landing__heading {
    max-width: 512px;
    font-size: calc(2.5rem + 4px);
  }
  .landing-page .landing__subheading {
    max-width: 384px;
    font-size: calc(1.1rem + 2px);
    font-weight: 500;
    line-height: 1.5;
  }
  .intro__section-wrapper {
    width: 85%;
  }
  .intro__section-wrapper .post__text-wrapper {
    margin: 2rem auto;
    width: 75%;
    text-align: center;
  }
  .content__post {
    min-width: 0;
  }
  .post__heading {
    font-size: 2.5rem;
  }
  .post__subheading {
    font-size: calc(1rem + 4px);
  }
  .todo-wrapper {
    width: 75%;
    max-width: 512px;
  }
  .form-wrapper .form__content {
    width: 75%;
    max-width: 512px;
  }
  .go_up-wrapper {
    left: 0;
    right: -90%;
    bottom: 2.5rem;
  }
  .footer-transition {
    width: 125%;
    left: -12.5%;
  }
}

@media screen and (max-width: 576px) {
  .landing-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr -webkit-max-content 1.5fr;
    grid-template-rows: 1fr 2fr max-content 1.5fr;
  }
  .landing-page .text__wrapper {
    width: 95%;
  }
  .intro__section-wrapper .post__text-wrapper {
    min-width: 0;
    width: 100%;
  }
  .intro__section-wrapper .post__img-wrapper {
    min-width: 0;
  }
  .intro__section-wrapper .arrow {
    bottom: 0;
  }
  .post__heading {
    font-size: 2rem;
  }
  .post__subheading {
    font-size: 1rem;
  }
  .todo-wrapper {
    display: none;
  }
  .form .input__travel_count, .form .input__countries_count {
    margin-bottom: 2rem;
  }
  .form .input__travel_count label, .form .input__countries_count label {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .form .input__travel_count label input, .form .input__countries_count label input {
    margin-right: 1rem;
  }
  .buttons {
    flex-flow: column nowrap;
  }
  .btn__submit {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

