@import "variables";
@import "components";
@import "main";
@import "index";

.page-wrapper {
  .landing__background {
    background-image: url("../assets/images/ld-planer.jpg");
    .background--shade {
      background-color: rgba(#000000, .65);
    }
  }
}

.link {
  &:hover {
    color: $color-orange;
  }
}

.main__content-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.intro__content {
  width: 90%;
  margin: 0 auto $mg-64 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content__post {
  min-width: 640px;
}

.content__post--right {
  .post__text-wrapper {
    margin: 0 0 0 auto;
  }
  .text--accent {
    color: $color-red;
  }
}

.content__post--left {
  .post__text-wrapper {
    margin: 0 auto 0 0;
  }
}

.post__text-wrapper {
  width: 80%;
  min-width: 320px;
}

.post__heading {
  margin-bottom: $mg-64;
  font-size: calc(#{$font-md} - 2px);
}

.post__subheading {
  font-size: calc(#{$font-xs} - 1px);
  font-family: $open-sans;
  font-weight: 500;
}

.post__img-wrapper {
  min-width: 320px;
}

.intro__section-wrapper {
  position: relative;
  .arrow {
    @include arrow-svg(2rem);
    cursor: pointer;
    .arrow-circle > rect {
      stroke: $dark-main;
    }
    .arrow-down > path {
      fill: $dark-main;
    }
    &:hover .arrow-circle > rect {
      stroke: $color-orange;
    }
    &:hover .arrow-down > path {
      fill: $color-orange
    }
  }
}

.todo-wrapper, .form__content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto $mg-64 auto;
  position: relative;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.todo-wrapper {
  .todo__container {
    max-width: 768px;
    width: 100%;
    min-width: 384px;
    margin: 0 auto;
    height: auto;
  }
}

.todo__app {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $light-main;
  border-radius: $rounded-32;
  padding: $mg-48 $mg-32;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(76, 86, 106, 0.2);
}

.todo__header {
  @include flex-row;
  @include title-bar($lg-bar, calc(#{$mg-24} * 1.5), $font-ms , $light-main, $dark-main, $rounded-32);
  min-width: $sm-bar;
  width: 90%;
  margin-bottom: $mg-64;
  text-align: center;
  box-shadow: $bar-shadow;
  h4 {
    font-weight: 300;
  }
}

.todo__input-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-content: center;
  justify-content: center;
  input {
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: $font-sm;
    color: #5A626E;
    transition: .4s cubic-bezier(0.2, 0.84, 0.44, 1) color
  }
  input:focus, input:hover {
    color: $color-orange;
  }
  margin-bottom: $mg-48;
  box-shadow: $bar-shadow;
  border-radius: $rounded-32;
  padding: .5rem 1.25rem;
}

.todo__input-container, .todo__list {
  width: 90%;
}

.add__todo {
  cursor: pointer;
  color: $dark-main;
  transition: .4s ease-in-out color;
  padding: .25rem .5rem;
  &:hover {
    color: $color-green;
  }
}

.todo__list {
  max-height: 512px;
  padding: .5rem 1rem;
  margin-bottom: $mg-24;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}

.todo {
  width: 100%;
  padding: .5rem 1.25rem;
  box-shadow: $bar-shadow;
  border-radius: $rounded-32;
  margin-bottom: $mg-32;
  @include flex-row;
  justify-content: space-between;
  p {
    font-family: $open-sans;
    font-weight: 500;
    font-size: $font-xs;
  }
  .todo__text--active {
    color: $dark-fade;
    text-decoration: line-through $dark-main;
  }
  .icons  i {
    color: $dark-main;
    margin: 0 0 0 .5rem;
    padding: .25rem;
    transition: .4s cubic-bezier(0.2, 0.84, 0.44, 1) color;
  }
}

.icons {
  .finish__todo:hover {
    color: $color-green;
  }
  .remove__todo:hover {
    color: $color-red;
  }
}

.overflow-spacer {
  height: $mg-24;
  opacity: 0;
}

.form-wrapper {
  width: 100%;
  height: auto;
  background-color: $dark-accent;
  .form__transition {
    position: relative;
    top: -25px;
    width: 100%;
    height: auto;
    img {
      width: inherit;
      height: auto;
    }
  }
}

.form__content {
  max-width: 576px;
  .form__header {
    margin-top: $mg-32;
    margin-bottom: $mg-64;
    font-size: $font-md;
    color: $light-main;
    transition: .6s cubic-bezier(0.2, 0.84, 0.44, 1) color;
    &:hover {
      color: $color-main-accent;
    }
  }
  .form {
    width: 100%;
    height: auto;
  }
}

.form {
  $form-heading: calc(#{$font-ms} - 2px);
  $form-input: calc(#{$font-xs} + 2px);
  div, fieldset {
    label, legend {
      font-size: $form-heading;
      margin-bottom: $mg-16;
      color: $light-main;
      transition: .5s cubic-bezier(0.2, 0.84, 0.44, 1) color;
    }
  }
  .input__sex, .input__travel_count, .input__countries_count {
    border: none;
  }
  .input__name {
    margin-bottom: $mg-32;
    #name {
      width: 100%;
      height: $font-md;
      margin-top: $mg-16;
      background-color: $dark-main;
      border: 1px solid $dark-main;
      border-radius: $rounded-48;
      font-size: $form-input;
      color: $light-fade;
      padding: 4px 1rem;
      transition: .3s ease-in-out color;
      &:focus {
        color: $color-main-accent;
      }
    }
    &:hover {
      label {
        color: $color-main-accent;
      }
      input {
        color: $color-main-accent;
      }
    }
  }
  .input__sex {
    margin-bottom: $mg-32;
    label {
      font-size: $form-input;
    }
    label:first-of-type {
      margin-right: $mg-16;
    }
    input {
      margin-right: $mg-16;
      font-size: $form-input;
      transition: .3s ease-in-out color;
    }
    &:hover {
      legend {
        color: $color-main-accent;
      }
    }
  }
  .input__travel_count, .input__countries_count {
    margin-bottom: $mg-32;
    legend {
      grid-column: 1/5;
    }
    label {
      margin-right: $mg-16;
      margin-bottom: 0;
      font-size: $form-input;
      input {
        margin-right: $mg-16;
      }
    }
    &:hover {
      legend {
        color: $color-main-accent;
      }
    }
  }
  .input__first-travel {
    input {
      margin-top: $mg-16;
    }
    label {
      margin: 0;
    }
    width: 100%;
    margin-bottom: $mg-32;
    &:hover {
      label {
        color: $color-main-accent;
      }
    }
  }
  .input__text-field {
    margin-bottom: $mg-32;
    label {
      width: 100%;
      margin: 0;
    }
    textarea {
      margin-top: $mg-24;
      width: 100%;
      max-height: 384px;
      min-height: 192px;
      background-color: $dark-main;
      border: none;
      border-radius: $rounded-32;
      padding: $mg-16 $rounded-32;
      font-size: $font-xs;
      color: $light-fade;
    resize: vertical;
    }
    &:hover {
      label {
        color: $color-main-accent;
      }
    }
  }
  .input__email {
    margin-bottom: $mg-32;
    input {
      width: 100%;
      height: $font-md;
      margin-top: $mg-16;
      padding: .5rem 1rem;
      border: none;
      background-color: $dark-main;
      border-radius: $rounded-32;
      font-size: $form-input;
      color: $light-fade;
      transition: .3s ease-in-out color;
    }
    input:focus {
      color: $color-main-accent;
    }
    &:hover {
      label {
        color: $color-main-accent;
      }
    }
  }
  .buttons {
    @include flex-row;
    justify-content: space-around;
  }
  .btn__submit, .btn__reset {
    border-radius: $rounded-48;
    font-size: calc(#{$font-ms} - .5rem);
    width: 40%;
    min-width: 192px;
    max-width: 256px;
    height: 48px;
    cursor: pointer;
    transition: .4s cubic-bezier(0.2, 0.84, 0.44, 1) all;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35), -4px -4px 8px rgba(72, 82, 101, 0.2);
  }
  .btn__submit {
    border: 1px solid $light-main;
    background-color: $light-main;
    color: #000000;
    &:hover {
      transform: scale(1.05);
      background-color: $color-green;
      border-color: $color-green;
      color: #ffffff;
    }
  }
  .btn__reset {
    border: 1px solid $dark-accent;
    background-color: $dark-accent;
    color: $light-fade;
    &:hover {
      transform: scale(.95);
      background-color: $color-red;
      border-color: $color-red;
      color: #ffffff;
    }
  }
}

.hide {
  height: 1.5rem;
  margin-left: $mg-16;
}

.ui-tooltip {
  width: 210px;
  color: $light-main;
  border-color: 1px solid rgba($light-main, .75);
}

@media screen and (max-width: 992px) {
  .landing-page {
    grid-template-columns: 1fr;
    .text__wrapper {
      width: 75%;
    }
    .landing__heading {
      max-width: 512px;
      font-size: calc(#{$font-lg} + 4px);
    }
    .landing__subheading {
      max-width: 384px;
      font-size: calc(#{$font-sm} + 2px);
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .intro__section-wrapper {
    width: 85%;
    .post__text-wrapper {
      margin: $mg-32 auto;
      width: 75%;
      text-align: center;
    }
  }
  .content__post {
    min-width: 0;
  }
  .post__heading {
    font-size: $font-lg;
  }
  .post__subheading {
    font-size: calc(#{$font-xs} + 4px);
  }
  .todo-wrapper {
    width: 75%;
    max-width: 512px;
  }
  .form-wrapper {
    .form__content {
      width: 75%;
      max-width: 512px;
    }
  }
  .go_up-wrapper {
    left: 0;
    right: -90%;
    bottom: 2.5rem;
  }
  .footer-transition {
    width: 125%;
    left: -12.5%;
  }

}

@media screen and (max-width: 576px) {
  .landing-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr max-content 1.5fr;
    .text__wrapper {
      width: 95%;
    }
  }
  .intro__section-wrapper {
    .post__text-wrapper {
      min-width: 0;
      width: 100%;
    }
    .post__img-wrapper {
      min-width: 0;
    }
    .arrow {
      bottom: 0;
    }
  }
  .post__heading {
    font-size: $font-md;
  }
  .post__subheading {
    font-size: $font-xs;
  }
  .todo-wrapper {
    display: none;
  }
  .form {
    .input__travel_count, .input__countries_count {
      margin-bottom: $mg-32;

      label {
        margin-right: $mg-16;
        margin-bottom: $mg-16;

        input {
          margin-right: $mg-16;
        }
      }
    }
  }
  .buttons {
    flex-flow: column nowrap;
  }
  .btn__submit {
    margin: 0;
    margin-bottom: $mg-24;
  }
}