$gallery-height: calc(256px + 2vw);
$decor-width: calc(64px + 4vw);


$lg-bar: 20rem;
$md-bar: 18rem;
$sm-bar: 16rem;

$mg-192: 12rem;
$mg-64: 4rem;
$mg-48: 3rem;
$mg-32: 2rem;
$mg-24: 1.5rem;
$mg-16: 1rem;

$rounded-32: 2rem;
$rounded-48: 3rem;

$font-xs: 1rem;
$font-sm: 1.1rem;
$font-ms: 1.5rem;
$font-md: 2rem;
$font-lg: 2.5rem;
$font-xl: 3rem;



$viewport-height-desktop: 800px;

$light-main: #ECEFF4;
$light-accent: #E5E9F0;
$light-fade: #D8DEE9;

$dark-main: #2E3440;
$dark-accent: #353E4B;
$dark-fade: #3B4252;

$color-main-accent: #F5A82A;
$color-orange: #CD6747;
$color-yellow: #EBCB8B;
$color-green: #A3BE8C;
$color-red: #BC6269;

$bar-shadow: -4px -4px 8px rgba(255, 255, 255, 0.85), 4px 4px 8px rgba(0, 0, 0, 0.4);

$roboto: "Roboto", sans-serif;
$merriweather: "Merriweather", serif;
$open-sans: "Open Sans", sans-serif;
